<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MutterLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <MutterLauncher.Properties.Settings>
            <setting name="MainWinWidth" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="MainWinHeight" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="MainWinPosX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWinPosY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DisplayItemMax" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="updateInterval" serializeAs="String">
                <value>240</value>
            </setting>
            <setting name="HotKeyShift" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HotKeyCtrl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotKeyAlt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotKeyWin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotKeyCode" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="ExecHistoryMax" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ChrStartWith" serializeAs="String">
                <value>94</value>
            </setting>
            <setting name="ChrEndWith" serializeAs="String">
                <value>36</value>
            </setting>
            <setting name="ChrSkipMatching" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="ChrEqual" serializeAs="String">
                <value>92</value>
            </setting>
            <setting name="Upgraded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpaceIsOption" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SearchHistoryMax" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="bAutoCompleteSourceChange" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Font" serializeAs="String">
                <value>MS UI Gothic, 9pt</value>
            </setting>
            <setting name="BackColorText" serializeAs="String">
                <value>Window</value>
            </setting>
            <setting name="FontColor" serializeAs="String">
                <value>WindowText</value>
            </setting>
            <setting name="BackColorForm" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="OpacityForm" serializeAs="String">
                <value>50</value>
            </setting>
        </MutterLauncher.Properties.Settings>
    </userSettings>
</configuration>